<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <!--
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="vicinityCLP.VicinityWCFService">
        <endpoint address="" binding="basicHttpBinding" contract="vicinityCLP.IVicinityWCFService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
     !        <add baseAddress="http://localhost:8733/Design_Time_Addresses/vicinityCLP/VicinityWCFService/" /> !
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>
  -->

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="ServiceVICINITYBehaviour" name="VicinityWCF.VicinityWCFService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="VicinityWCF.IVicinityWCFService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceVICINITYBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <connectionStrings>
    <add name="cstring" connectionString="Data Source =.\SQLEXPRESS;Initial Catalog = VICINITY; Persist Security Info=True;User ID = sa; Password=cincila"/>
  </connectionStrings>
  
</configuration>